@font-face {
  font-family: 'DMSans';
  src: url('../assets/fonts/static/DMSans-Regular.ttf') format('truetype'),
  url('../assets/fonts/static/DMSans-Medium.ttf') format('truetype'),
  url('../assets/fonts/static/DMSans-MediumItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
.attribution { font-size: 11px; text-align: center; align-content: end;   }
.attribution a { color: hsl(228, 45%, 44%); }
:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  background-color: rgb(255, 255, 255);

  min-width: 320px;
  min-height: 100vh;
  font-family: 'DMSans', sans-serif;
}

div {
  display: flex;
  text-wrap: auto;
  width: auto;
  height: auto;
  margin: 0 0 25px 0;
  padding: 50px;
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
